@import "tailwindcss";
@tailwind utilities;

:root {
  --white: #ffffff;
  --gray-100: #f7f3f6;
  --gray-200: #f4e6f0;
  --gray-300: #7a6e76;
  --gray-400: #332e32;
  --green-light: #cddfcc;
  --green-base: #52a350;
  --green-dark: #2f5c2d;
  --pink-light: #e9cce1;
  --pink-base: #c257a4;
  --pink-dark: #884074;
}

@theme inline {
  --color-white: #ffffff;
  --color-gray-100: #f7f3f6;
  --color-gray-200: #f4e6f0;
  --color-gray-300: #7a6e76;
  --color-gray-400: #332e32;
  --color-green-light: #cddfcc;
  --color-green-base: #52a350;
  --color-green-dark: #2f5c2d;
  --color-pink-light: #e9cce1;
  --color-pink-base: #c257a4;
  --color-pink-dark: #884074;
  --font-cairo: var(--font-cairo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --gray-100: #f7f3f6;
    --gray-200: #f4e6f0;
    --gray-300: #7a6e76;
    --gray-400: #332e32;
    --green-light: #cddfcc;
    --green-base: #52a350;
    --green-dark: #2f5c2d;
    --pink-light: #e9cce1;
    --pink-base: #c257a4;
    --pink-dark: #884074;
  }
}

body {
  background: var(--color-gray-100);
  color: var(--color-gray-400);
  font-family: Cairo, sans-serif;
}
